.geometric {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.custom-shape-divider-bottom-1769303355 {
  rotate: 360deg;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  
}

.custom-shape-divider-bottom-1769303355 svg {
  width: 100%;
  height: 129px;
  display: block;
}

.shape-fill {
  fill: rgb(255, 255, 255);
}

