.header{
background:rgb(232, 73, 73);
color:black;
width:100%;
display:flex;
flex-direction: column;
}

.titulo h1{
    display:flex;
    justify-content: center;
    align-items: center;
    color: hsla(0, 0%, 100%, 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: hsl(0, 0%, 0%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav ul{
    display:flex;
    justify-content: space-around;
    list-style: none;
}
