@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    color: #fff;
    
}

header {
    background-color:rgba(23, 26, 31, 0.384);
    height: 40px;
    width: 100%;
    z-index: 2;
   

}

.contentHeader {
    display: flex;
    
    background-color:rgba(20, 13, 13, 0);
    width: 100%;
    height: 40px;
        backdrop-filter: Saturate(200%) blur(10px);
    z-index: 2;
   position: fixed;
}

.contentHeader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    background-color: rgba(121, 49, 7, 0);
    z-index: 2; /* Fica atrás do conteúdo */
}


.logo {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo>p {
    font-size: 20px;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contentNav {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.contentNav>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 80%;
    text-decoration: none;

}

.contentNav>ul>li>a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.bcSite {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

