.main{
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 23, 23);
}

.perfil > img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
.button{
    background-color: rgb(218, 148, 148);
    
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.segundary{
    background-color: #c03e02;
    color: #fff;
}

.primary{
    background-color: #f0bc2c;
    color: #fff;
    
}
.circle{
    border-radius: 50%;
    

}

.linkedin{
    background-image: url(linkedin.png);
    background-size: cover;
    background-position: center;
    padding: 0;
    width: 50px;
    height: 50px;
}

.gmail{
    background-image: url(gmail.png.png);
    background-size: cover;
    background-position: center;
    padding: 0;
    width: 50px;
    height: 50px;

}